a {
  text-decoration: none;
}

.CardDestaque{
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  margin: 10px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px;
}

.CardDestaque__Content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
}

.CardDestaque__Title{
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #3769d5;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}

.CardDestaque__DestTitle{
  font-size: 0.8rem;
  color:#213f80;
  font-style: italic;
  text-transform: uppercase;
  width: 100%;
  margin: 10px;
}

.CardDestaque__Image img{
  width: 300px;
  border-radius: 5px;
  margin: 20px;
}

.CardDestaque__Body{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  width: 300px;
  margin: 20px;
}

.CardDestaque__Introducao{
  font-family: Nunito Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
  margin-top: 10px;
  max-height: 5ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CardDestaque__Line{
  font-family: Poppins;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #999999;
  margin-top: 10px;
}

.CardDestaque__Link{
  display: flex;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 23.1px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  gap: 10px;
  width: 167px;
  height: 26px;
  background: #039045;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.CardDestaque__Link:hover{
  background: #426AB2;
}

.CardDestaque__Favorite{
  display: flex;
  flex-direction: row;
  justify-content: right;
  text-align: left;
  width: 100%;
}
