.Style{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 20px 80px;
    text-align: center;
}

.Header{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Title{
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color:#213f80;
    font-style: italic;
    padding: 10px;
}

.Subtitle{
    font-size: 1rem;
    color:#213f80;
    font-style: italic;
    padding: 10px;
}